table {
   width: 100%;
   tr {
      width: 100%;
      font-size: 24px;
      @media (max-width: $iphone) {
         font-size: 16px;
      }
      td,
      th {
         padding: 35px;
         @media (max-width: $laptop) {
            padding: 25px;
         }
         @media (max-width: $iphone) {
            padding: 15px;
         }
      }
      &:nth-child(odd) {
         background: #ececec;
      }
   }
   thead + tbody {
      tr {
         &:nth-child(odd){
            background: inherit;
         }
      }
      tr {
         &:nth-child(even) {
            background: #ececec;
         }
      }
   }
}
