.benefits {
   &__item {
      background: #757A7E;
      display: flex;
      padding: 0 20px;
      overflow: hidden;
      align-items: center;
      justify-content: space-between;
      h3 {
         font-size: 18px;
         font-weight: 400;
         color: white;
         // min-width: 200px;
      }
   }
}