.benefits {
   &__item {
      background: #757A7E;
      display: flex;
      padding: 0 20px;
      overflow: hidden;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1022px) {
         margin: 15px 0;
      }
      @media (max-width: 572px) {
         &:nth-child(odd) {
            flex-direction: row-reverse;
         }
      }
      h3 {
         font-size: 18px;
         font-weight: 400;
         color: white;
         // min-width: 200px;
      }
   }
}