.benefits {
   &__item {
      background: #757A7E;
      display: flex;
      padding: 0 20px;
      height: 100%;
      overflow: hidden;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1022px) {
         margin: 15px 0;
      }
      &-wrapper {
         @media (max-width: $iphone) {
            &:nth-child(even) {
               h3 {
                  order: 2;
                  text-align: right;
               }
            }
         }
      }
      h3 {
         font-size: 18px;
         font-weight: 400;
         color: white;
         // min-width: 200px;
      }
   }
   &__img{
      align-self: flex-end;
      max-width: 150px;
      img{
         width: 100%;
      }
   }
}