.price {
   .tab-btn-wrapper {
      display: flex;
      justify-content: space-around;
      column-gap: 20px;
      @media (max-width: $ipad) {
         overflow-x: scroll;
         white-space: nowrap;
         justify-content: start;
      }
   }
   .tab-item-wrapper {
      margin-top: 50px;
   }
   .price__tab-btn {
      font-weight: 600;
      font-size: 28px;
      color: $black;
      cursor: pointer;
      &.active {
         color: $red;
         text-decoration: underline;
      }
   }
   .price__tab-item {
      display: none;
      &.active {
         display: block;
      }
   }
  
}