.service {
   &__wrapper {
      row-gap: 40px;
   }
   &__item {
      background-position: 0 0; 
      background-repeat: no-repeat; 
      background-size: cover;
      color: white;
      position: relative;
      min-height: 100%;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      @media (max-width: $iphone) {
         flex-direction: column;
      }
      &-wrapper {
         min-height: 410px;
         @media (max-width: 1024px) {
            &:nth-child(even) {
               .service__item {
                  flex-direction: row-reverse;
                  @media (max-width: $iphone) {
                     flex-direction: column;
                  }
               }
               .bg-img {
                  left: 0;
                  img {
                     transform: scale(-1, 1);
                  }
               }
            }
         }
         @media (max-width: $iphone) {
            min-height: 0;
         }
      }
      .content {
         position: relative;
         z-index: 2;
         width: 80%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 40px;
         @media (max-width: $iphone) {
            width: 100%;
            background: rgba(0, 0, 0, 0.4);
            padding: 30px;
         }
      }
      .btn-wrapper {
         position: relative;
         z-index: 2;
         margin-top: 20px;
         @media (max-width: $iphone) {
            .btn {
               width: 100%;
               text-align: center;
            }
         }
      }
      .bg-img {
         display: flex;
         align-items: end;
         position: absolute;
         bottom: 0;
         right: 0;
         max-width: 230px;
         @media (max-width: $iphone) {
            max-width: 400px;
         }
      }
      h2, h3, h4, h5 {
         color: $red;
         font-size: 32px;
         margin-bottom: 20px;
      }
      ul {
         padding: 0;
         font-size: 16px;
         p {
            margin-bottom: 5px;
         }
      }
      li {
         margin-left: 20px;
      }
      .more {
         color: white;
         text-decoration: underline;
         font-weight: 600;
      }
   }
}