*,
*::before,
*::after {
  box-sizing: border-box;
  font-style: normal;
}

html {
  scroll-behavior: auto !important;
}

body {
  position: relative;
  font-family: $base-font;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $black;
}

.font-romain {
  font-family: "RomainText";
}
.color-red {
  color: $red;
}
.color-black {
  color: $black;
}
.color-white {
  color: $white;
}

button {
  background-color: transparent;
  border: none;
}

input,
textarea {
  font-family: $base-font;
  outline: none;
  font-size: 20px;
  line-height: calc-lh(20, 32);
  cursor: pointer;
}

a {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.table-responsive {
  overflow-x: scroll;
  table {
    white-space: nowrap;
    width: 100%;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.dot-separator {
  position: relative;
  padding-right: 8px;
  margin-right: 8px;
  &::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    height: 2px;
    border-radius: 50%;
    width: 2px;
  }
}
// nav
.nav {
  padding: 24px 0;
  a {
    color: $black;
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    max-width: 250px;
    @media (max-width: $iphone) {
      max-width: 200px;
    }
    img {
      width: 100%;
    }
  }
  .location,
  .email {
    display: flex;
    align-items: center;
    column-gap: 20px;
    text-align: left;
    p {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
  }
  &__soc {
    align-items: center;
    display: flex;
    column-gap: 20px;
    .item {
      display: inline-flex;
      width: 39px;
      height: 39px;
      border: 1px solid $red;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
    }
  }
  &__call {
    display: flex;
    align-items: center;
    column-gap: 20px;
    a {
      display: block;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

@keyframes hoverFlare {
  0% {
    left: -90px;
  }
  100% {
    left: 150%;
  }
}
// btn
.btn {
  background: $red;
  color: white !important;
  padding: 16px 40px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.2s;

  position: relative;
  overflow: hidden;
  vertical-align: top;
  z-index: 2;
  display: inline-block;

  &:before {
    content: "";
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 0.1)),
      to(rgba(255, 255, 255, 0.5))
    );
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    left: -90px;
  }
  &:hover {
    &:before {
      animation: hoverFlare 1.5s infinite;
    }
  }
  @media (max-width: $iphone) {
    padding: 16px 10px;
  }
}

.a-hover {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
    transform: scale(0);
    transition: 0.2s;
  }
  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}

// block-title
.block-title {
  padding-top: $base-padding;
  padding-bottom: 50px;
  color: $red;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  h3 {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    @media (max-width: 321px) {
      font-size: 35px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 3px;
      background: $red;
      top: 50%;
    }
    &::before {
      left: -140px;
    }
    &::after {
      right: -140px;
    }
  }
  @media (max-width: $iphone) {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
// slider

.swiper-button-next,
.swiper-button-prev {
  top: 70%;
  width: 40px;
  height: 40px;
  background: $red;
  border-radius: 50%;
  &::after {
    display: none;
  }
}
.swiper-button-prev {
  left: 20px;
  svg {
    margin-right: 4px;
  }
}
.swiper-button-next {
  right: 20px;
  svg {
    margin-left: 4px;
  }
}
.swiper-pagination {
  bottom: -35px !important;
}
.swiper-pagination-bullet {
  background: none;
  border: 1px solid #d9d9d9;
  width: 10px;
  height: 10px;
  opacity: 1;
  transition: 0.1s;
}
.swiper-pagination-bullet-active {
  background: $red !important;
  border: none;
}

.italic {
  font-style: italic;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: 700;
}
.overflow-h {
  overflow: hidden !important;
}

@include media-breakpoint-down(md) {
  .text-md-center {
    text-align: center;
  }
}

.mw-100 {
  min-width: 100%;
}

.h-50p {
  height: 50%;
}
.h-100p {
  height: 100%;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-auto {
  margin-left: auto;
}

.mr-5 {
  margin-right: 5px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-16 {
  margin-right: 16px;
}

.ml-5 {
  margin-left: 5px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-12 {
  margin-left: 12px;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-16 {
  margin-bottom: 18px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 40px;
}

.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.svg-loader--wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.svg-loader {
  display: flex;
  position: relative;
  align-content: space-around;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;

  background: rgba(255, 255, 255, 0.8);
}
.loader-svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: $primary;
}
.loader-svg.loader-bg {
  stroke-width: 8px;
  stroke: rgba(197, 197, 197, 0.4);
}

.loader-animate {
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}

@keyframes fill-animation {
  0% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}
.material-icons-round,
.material-icons-outlined {
  vertical-align: middle;
}

.deg-113 {
  transform: rotate(113deg);
}
.deg-90 {
  transform: rotate(90deg);
}
.deg-180 {
  transform: rotate(180deg);
}
.deg-360 {
  transform: rotate(360deg);
}
