// Typography - Desktop
h1,
.h1 {
    font-family: $title-font;
    font-size: 80px;
    line-height: calc-lh(80, 96);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

h2,
.h2 {
    font-family: $title-font;
    font-size: 56px;
    line-height: calc-lh(56, 72);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

h3,
.h3 {
    font-family: $title-font;
    font-size: 48px;
    line-height: calc-lh(48, 64);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

h4,
.h4 {
    font-family: $title-font;
    font-size: 40px;
    line-height: calc-lh(40, 56);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

h5,
.h5 {
    font-family: $title-font;
    font-size: 32px;
    line-height: calc-lh(32, 48);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

h6,
.h6 {
    font-family: $title-font;
    font-size: 24px;
    line-height: calc-lh(24, 32);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

p,
.content_normal {
    font-family: $base-font;
    font-size: 16px;
    line-height: calc-lh(20, 32);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
}
.content_large {
    font-family: $base-font;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: calc-lh(24, 40);
}
.content_small {
    font-family: $base-font;
    font-size: 14px;
    line-height: calc-lh(14, 18);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
}

.caption_normal {
    font-family: $base-font;
    font-size: 16px;
    line-height: calc-lh(16, 24);
    font-style: normal;
    font-weight: normal;
}

.caption_small {
    font-family: $base-font;
    font-size: 14px;
    line-height: calc-lh(14, 18);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
}

@include media-breakpoint-down(xl) {
    h1,
    .h1 {
        font-size: 64px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    h2,
    .h2 {
        font-size: 48px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    h3,
    .h3 {
        font-size: 40px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    h4,
    .h4 {
        font-size: 32px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    h5,
    .h5 {
        font-size: 28px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}

@include media-breakpoint-down(md) {
    h1,
    .h1 {
        font-size: 44px;
        line-height: calc-lh(44, 60);
    }
    h2,
    .h2 {
        font-size: 40px;
        line-height: calc-lh(40, 51);
    }
    h3,
    .h3 {
        font-size: 32px;
        line-height: calc-lh(32, 40);
    }
    h4,
    .h4 {
        font-size: 24px;
        line-height: calc-lh(24, 32);
    }
    h5,
    .h5 {
        font-size: 20px;
        line-height: calc-lh(20, 32);
    }
    p,
    .content_normal {
    }
}
