// Transition
$transition_normal: all 0.3s ease-in-out;
$transition_long: all 0.8s ease-in-out;



//Fonts

$base-font: 'Inter', sans-serif;
$title-font: 'Roboto', sans-serif;
// $second-font: 'RomainText';

// padding
$base-padding: 120px;

// media
$laptop: 1024px;
$ipad: 811px;
$iphone: 415px;


// PRIMARY COLORS
$primary: #24AD97;

$white: #F3F3F3;
$black: #1A1A17;
$green: #24AD97;
$red: #D90D0E;
$red-light: #E62E2E;
